section {
  cursor: url(/public/images/cursor.png) , auto;
}

/* Estilo imagen de rebote */
div img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateY(1);
  animation: rebote 0.5s infinite alternate;
}

div img:hover {
  rotate: 380deg;
}

/* Animación de rebote */
@keyframes rebote {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px); /* Altura de rebote ajustable */
  }
}




/* Estilo del span */
.info__card {
  font-size: 1.3rem; /* Tamaño de fuente ajustable */
  background-image: linear-gradient(95deg, #46fa05, #dec9c9 , #000);
  background-size: 200% 200%; /* Tamaño del gradiente ajustable */
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: cortocircuito 1s infinite;
  text-shadow: #46fa05;
}

/* Estilo del h1 dentro del span */
span {
  display: inline;
}

/* Animación de cortocircuito */
@keyframes cortocircuito {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}