@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,200&family=Rubik+Wet+Paint&display=swap');
input::placeholder {
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  color: white;
  background: transparent;
}

html {
  height: 100vh;
  height: 100vh;
  background-position-x: -45vw;
  background-position-y: top;
  scroll-behavior: smooth;
  background-image: url(/public/images/background2.jpg);
  background-size: cover;
  object-fit: cover;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

.App {
  color: white;
}

.container__botton {
  border: 1px solid forestgreen;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.input__header {
  background-color: transparent;
  background: transparent;
}

.button__header {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  animation: cambioDeColor 3s infinite;
  padding: 0.7rem;
  overflow: hidden;
  border-radius: 5px;
}

@keyframes cambioDeColor {
  0% {
    background-color: rgba(144, 0, 255, 0.5); 
  }
  50% {
    background-color: rgba(187, 199, 187, 0.5);
  }
  100% {
    background-color: rgba(221, 31, 31, 0.5);
  }
}

.button__header:hover {
  background-color: rgba(0, 255, 0, 0.5);
}


input {
  border: none;
  outline: none;
}

@media (min-width: 600px) {
  .section__residentList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.section__residentList {
  width: 100%;
}

.list__header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.pages_custom {
  background-image: url(/public/images/portal.gif);
  background-position: center;
  background-size: cover;
}

.list__header {
  background-color: rgb(9, 9, 9);
  text-align: center;
  border: 4px solid rgb(53, 229, 21);
}

@media (min-width: 600px) {
  .list__header {
    display: flex;
    display: none;
  }
  .section__residentList {
    width: 100%;
  }
  .sm_header > ul > li {
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    border: 3px solid rgb(34, 255, 0);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pages_custom {
    background-image: url(/public/images/portal.gif);
    background-position: center;
    background-size: cover;
  }
}

.container__info {
  background-image: url(/public/images/bg1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Rubik Wet Paint', cursive;
}



